.main {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}
